<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GPC report">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    {% block style %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <div style="display: flex; flex-direction: column; height: 100%;">
        <div class="ui inverted menu" style="flex-shrink: 0; border-radius: 0px; margin: 0px;">
            {% include "menu.html.j2" %}
        </div>
        <div style="flex-grow: 1; overflow: hidden auto; margin: 10px;">
            {% block content %}{% endblock %}
        </div>
        <div class="ui inverted menu" style="flex-shrink: 0; border-radius: 0px; margin: 0px;">
            {% include "footer.html.j2" %}
        </div>
    </div>
</body>
</html>
